:root {
  --bg-primary: #ffffff;
  --bg-secondary: #eaeaea;

  --bg-top-banner:#008a00;

  --bg-header: #ffffff;
  --color-text-header: #038203;

  --color-text-title:#1a5336;
  --color-text-subtitle:#038203;


  --color-text-primary: #1c1c1c;
  --color-text-secondary: #ffffff;
  /* --color-text-secondary: #004b87; */
  /* --color-text-tertiary: #0077c8; */

  --border-color: #cbd5e1;
  --border-color-focus: #3b82f6;

  --btn-primary-bg: #0077c8;
  --btn-primary-text: #ffffff;
  --btn-primary-hover-bg: #005f9e;
  --btn-primary-hover-text: #ffffff;

  --btn-bg-secondary: #004b87;

}



/* top-banner */
/* ============================================================ */
.top-banner {
  display: flex;
  width: 100%;
  height: 4rem;
  padding: min(2rem, 7%) 7%;
  background-color: var(--bg-top-banner);
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
}

.top-banner h1 {
  font-size: 1.7rem;
  color: var(--color-text-secondary);
  font-family: 'Montserrat', sans-serif;
}

/* header two */
/* ============================================================ */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 6rem;
  padding: 0 7%;
  box-shadow: 0px 4px 8px 0px #13376326;

  position: fixed;
  top: 4rem;
}

.header .home-link {
  display: flex;
  align-items: center;
  width: 5.5rem;
  height: 5.5rem;

}

.home-link img {
  width: 100%;
  height: 100%;

}

.header .header-nav {
  height: 100%;
  
}

.header-nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1rem;
  height: 100%;
}

.header-nav ul li {
  height: 100%;
  
}

.header-nav ul li a {
  height: 100%;
  text-decoration: none;
  padding: 0 2rem;
  color: var(--color-text-header);
  font-weight: 500;
  font-size: 1.6rem;
  font-family: 'Open-Sans', sans-serif;

  display: flex;
  align-items: center;
}

.header-nav ul li a:hover {
  background: #f0f0f0;
}

/* menu */
.header-nav .menu-dropdown {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.menu-dropdown .menu-name {
  padding: 0 1rem;
  color: var(--color-text-header);
  font-weight: 500;
  font-size: 1.6rem;
  font-family: 'Open-Sans', sans-serif;
}

.menu-dropdown .menu-caret {
  display: flex;
  align-items: center;
  width: 1.2rem;
  height: 1.2rem;
}

.menu-caret svg {
  width: 100%;
  height: 100%;
  color: var(--color-text-header);

}

.header-nav .menu-dropdown:hover {
  background: #f0f0f0;
}





/**/

.header .header-icons {
  display: flex;
  gap: 2rem;
}

.header-icons .header-icon-wrapper {
  cursor: pointer;
  width: 2.7rem;
  height: 2.7rem;
}

.header-icon-link svg {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  color: var(--color-text-header);
}

.header-icon-wrapper svg {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  color: var(--color-text-header);
}

#mobile-menu-icon {
  display: none;
}

/* --------------------------------- */

@media (max-width: 1024px) {

  .header .header-nav {
    position: fixed;
    top: 10rem;
    right: 0;
    height: 100vh;
    width: 25rem;
    z-index: 10;
    box-shadow: 0px 4px 8px 0px #13376326;

    display: none;
  }

  .header .header-nav.active {
    display: flex;
  } 

  .header-nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin-top: 1rem;
  }  

  .header-nav ul li {
    height: 5rem;
    width: 100%;
  }

  .header-nav ul li a {
    width: 100%;
  }  

  #mobile-menu-icon {
    display: flex;
  }
  
}    

/* --------------------------------- */

@media (max-width: 412px) {

  .header .header-nav {
    width: 100%;
  }
}


















/* header */
/* ============================================================ */

/* .header {
  position: sticky;
  top: 0;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-header);
  padding: min(2rem, 7%) 7%;

  box-shadow: 0px 4px 8px 0px #13376326;

  z-index: 10;
}

.header .home-link {
  display: flex;
  align-items: center;
  width: 5.5rem;
  height: 5.5rem;
  text-decoration: none;
}

.header .home-link img {
  width: 100%;
  height: 100%;
} */

/* header-nav */

/* .header .header-nav {
  display: flex;
}

.header-nav .menu-list {
  display: flex;
  gap: 3.5rem;
  list-style: none;
}

.menu-list .menu-item {
  position: relative;
}

.menu-item .menu-link {
  text-decoration: none;
  color: var(--color-text-header);
  font-weight: 500;
  font-size: 1.6rem;
  font-family: 'Open-Sans', sans-serif;
}

.menu-item .select {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  padding: .5rem;
} */
/* 
.select .select-span {
  color: var(--color-text-header);
  font-weight: 500;
  font-size: 1.6rem;
  font-family: 'Open-Sans', sans-serif;
}

.select .select-icon {
  width: 1.2rem;
  height: 1.2rem;
}

.select-icon svg {
  width: 100%;
  height: 100%;
} */

/* sub-menu */

/* .menu-item .sub-menu {
  position: absolute;

  display: none;
  flex-direction: column;
  list-style: none;
  top: 6rem;
  left: 0;
  width: 200%;
  background: #fff;

  box-shadow: 0px 4px 8px 0px #13376326;

} */

/* .menu-item .sub-menu.active {
  display: flex;
  z-index: 100;
} */

/* .sub-menu li {
  width: 100%;
}

.sub-menu li .sub-menu-link {
  display: block;
  padding: 1rem;
  font-size: 1.6rem;
  color: var(--color-text-header);
  font-weight: 500;  
  text-decoration: none;
}

.sub-menu li .sub-menu-link:hover {
  color: #000;
  background: #f3f3f8;
} */



/**/

/* .header .header-icons {
  display: flex;
  gap: 2rem;
}

.header-icons .header-icon-wrapper{
  width: 2.7rem;
  height: 2.7rem;
}

.header-icon-wrapper .header-icon-link {
  text-decoration: none;
}

.header-icon-link svg {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  color: var(--color-text-header);
}

.header-icon-wrapper svg {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  color: var(--color-text-header);
} */

/* #mobile-menu-icon {
  display: none;
}

@media (max-width: 767px) {
    #mobile-menu-icon {
      display: block;
    }
    
    .header .header-nav {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      padding: 1rem 3%;

      background: var(--bg-header);
      border-top: .1rem solid rgba(0, 0, 0, .2);
      box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);

      display: none;
    }
    
    
    .menu-list {
        flex-direction: column;
    }
    
    .select {
        cursor: pointer;
    }
} */

/* @media (min-width: 768px) {
    .header .header-nav.active {
        display: block;
        background: #005f9e;
    }
    
    .menu-item {
        position: relative;
    }
    
    .sub-menu {
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
        min-width: 200px;
    }
    
    .sub-menu.active {
        display: block;
    }
    
    .menu-item:hover .sub-menu {
        display: block;
    }
} */

.div-home {
  height: 245rem;
}