:root {
  --bg-primary: #ffffff;
  --bg-secondary: #eaeaea;

  --bg-top-banner:#008a00;

  --bg-header: #ffffff;
  --color-text-header: #038203;

  --color-text-title:#1a5336;
  --color-text-subtitle:#038203;


  --color-text-primary: #1c1c1c;
  --color-text-secondary: #ffffff;
  /* --color-text-secondary: #004b87; */
  /* --color-text-tertiary: #0077c8; */

  --border-color: #cbd5e1;
  --border-color-focus: #3b82f6;

  --btn-primary-bg: #0077c8;
  --btn-primary-text: #ffffff;
  --btn-primary-hover-bg: #005f9e;
  --btn-primary-hover-text: #ffffff;

  --btn-bg-secondary: #004b87;

}



/* top-banner */
/* ============================================================ */
.top-banner {
  display: flex;
  width: 100%;
  height: 4rem;
  padding: min(2rem, 7%) 7%;
  background-color: var(--bg-top-banner);
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
}

.top-banner h1 {
  font-size: 1.7rem;
  color: var(--color-text-secondary);
  font-family: 'Montserrat', sans-serif;
}

/* header two */
/* ============================================================ */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 8rem;
  padding: 0 7%;
  box-shadow: 0px 4px 8px 0px #13376326;

  position: fixed;
  top: 4rem;
  z-index: 999;
}

.header .home-link {
  display: flex;
  align-items: center;
  width: 5.5rem;
  height: 5.5rem;
}

.home-link img {
  width: 100%;
  height: 100%;
}

.header .header-nav {
  height: 100%;
}

.header-nav .menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1rem;
  height: 100%;
}

.header-nav .menu li {
  position: relative;
  height: 100%;
}

.header-nav .menu li a {
  display: flex;
  align-items: center;
  padding: 0 1rem;

  color: var(--color-text-header);
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0.5px;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;

  height: 100%;
  text-decoration: none;
}

.header-nav .menu li a:hover {
  background: #f0f0f0;
}

/* menu */

.header-nav .menu .menu-dropdown {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
  gap: 1rem;
  padding: 0 1rem;
}

.menu-dropdown .menu-name {
  color: var(--color-text-header);
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0.5px;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
}

.menu-dropdown .menu-caret {
  display: flex;
  align-items: center;
  width: 1.2rem;
  height: 1.2rem;
}

.menu-caret svg {
  width: 100%;
  height: 100%;
  color: var(--color-text-header);

}

.header-nav .menu-dropdown:hover {
  background: #f0f0f0;
}

/* sub menu */

.header-nav .menu .sub-menu {
  display: none;
  flex-direction: column;
  list-style: none;
  top: 100%;
  left: 0;
  min-width: 25rem;
  padding: 1rem 0;
  height: auto;
  background: #fff;
  box-shadow: 0px 4px 8px 0px #13376326;

  position: absolute;
}

.header-nav .sub-menu.active {
  display: flex;
  z-index: 100;
}

.header-nav .sub-menu li {
  height: 5rem;
  width: 100%;
}

.sub-menu li .sub-menu-link {
  color: var(--color-text-header);
  font-weight: 500;
  font-size: 1.6rem;
  letter-spacing: 0.5px;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;

  text-decoration: none;

  transition: color 0.3s ease, background 0.3s ease;
}

.sub-menu li .sub-menu-link:hover {
  color: #000;
  background: #f3f3f8;
}

/**/

.header .header-icons {
  display: flex;
  gap: 2rem;
}

.header-icons .header-icon-wrapper {
  cursor: pointer;
  width: 2.7rem;
  height: 2.7rem;
}

.header-icon-link svg {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  color: var(--color-text-header);
}

.header-icon-wrapper svg {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  color: var(--color-text-header);
}

#mobile-menu-icon {
  display: none;
}

/* --------------------------------- */

@media (max-width: 1024px) {

  .header .header-nav {
    position: fixed;
    top: 12rem;
    right: 0;
    height: 100vh;
    width: 25rem;
    z-index: 10;
    box-shadow: 0px 4px 8px 0px #13376326;

    display: none;
  }

  .header .header-nav.active {
    display: flex;
  } 

  .header-nav .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin-top: 1rem;
  }  

  .header-nav .menu li {
    height: 5rem;
    width: 100%;
  }

  .header-nav .menu li a {
    width: 100%;
  }  

  #mobile-menu-icon {
    display: flex;
  }
  
}    

/* --------------------------------- */

@media (max-width: 412px) {

  .header .header-nav {
    width: 100%;
  }
}


.div-home {
  height: 245rem;
}

/* ============================================================ */
/* Main page */
/* ============================================================ */

.home-main {
  margin-top: 12rem;
  /* padding: 0 7%; */
}

.home-section {
  width: 100%;
  margin-bottom: 4rem;
  position: relative;
}

.home-container-image {
  width: 100%;
  overflow: hidden;

  position: relative;
}

.home-container-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.home-container-text {
  position: absolute;
  bottom: 4rem;
  padding: 0 4%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  color: var(--color-text-secondary);
}

.home-container-text h1 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.8;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.home-container-text p {
  font-size: 1.8rem;
  font-weight: 500;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

/* home-info */
/* ============================================================ */

.home-info {
  padding: 5rem 5%;
  background: #eaeaea;
}

.home-info__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(278px, 1fr));
  gap: 2.6rem;
}

.home-info__wrapper-card {
  width: 100%;
  height: 100%;
}

.home-info__card {
  margin-top: 3.2rem;
  width: 100%;
}

.home-info__card-link {
  text-decoration: none;
  display: block;
  border: 2px solid transparent;
  border-radius: 16px;

  transition: border-color .3s ease;
}

.home-info__card-link:hover {
  border: 2px solid var(--color-text-header);
  background: #fff;
}

.home-info__card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 4.6rem 2rem 2.6rem;
  text-align: center;
  gap: 2.6rem;

  position: relative;
}

.home-info__card-tittle {
  font-size: 2.2rem;
  color: #000;

  text-decoration: underline;
  text-decoration-color: #008a00;
  text-decoration-thickness: 3px;
  text-underline-offset: .3rem;

  transition: .3s text-decoration-color ease-in-out;
}

.home-info__card-link:hover .home-info__card-tittle {
  text-decoration-color: #fff;
}

.home-info__card-text {
  font-size: 1.6rem;
  color: var(--color-text-primary);
  line-height: 1.5;
}

.home-info__card-icon-wrapper {
  border-radius: 50%;
  background: var(--bg-top-banner);
  display: flex;
  align-items: center;
  justify-content: center;
  top: -3.2rem;
  width: 6.4rem;
  height: 6.4rem;

  position: absolute;
}

.home-info__card-icon-wrapper svg {
  width: 4rem;
  height: 4rem;
  color: #fff;
}

/* ============================================================ */