:root {
  --bg-primary: #ffffff;
  --bg-secondary: #eaeaea;

  --color-text-primary: #13294b;
  --color-text-secondary: #000000;
  /* --color-text-secondary: #004b87; */
  /* --color-text-tertiary: #0077c8; */

  --border-color: #cbd5e1;
  --border-color-focus: #3b82f6;

  --btn-primary-bg: #0077c8;
  --btn-primary-text: #ffffff;
  --btn-primary-hover-bg: #005f9e;
  --btn-primary-hover-text: #ffffff;

  --btn-bg-secondary: #004b87;

}



/* top-banner */
/* ============================================================ */
.top-banner {
  display: flex;
  padding: 1.2rem 0;
  background-color: #004b87;
  justify-content: center;
}

.top-banner h1 {
  font-size: 1.7rem;
  color: #fff;
}


/* top-banner */
/* ============================================================ */

.header {
  position: sticky;
  top: 0;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  /* padding: 3rem 0; */
  padding: min(3rem, 7%);
  box-shadow: 0px 4px 8px 0px #13376326;
  z-index: 10;
}

.header .home-link {
  display: flex;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
  text-decoration: none;

}

.header .home-link img {
  width: 100%;
  height: 100%;
}

.header .nav-container {
  display: flex;
}

.nav-container .header-nav {
  display: flex;
}

.header-nav ul {
  display: flex;
  gap: 2.5rem;
  list-style: none;
}

.header-nav ul li a {
  font-size: 1.8rem;
  text-decoration: none;
  color: var(--color-text-primary);
  font-weight: 500;
}

.header .header-icons-wrapper-out {
  display: flex;
  gap: 2.5rem;
}

.header-icons-wrapper-out .header.icons-wrapper-in {
  width: 2.7rem;
  height: 2.7rem;
  position: relative;
}

.header-icons-wrapper-in .header-icon-link {
  text-decoration: none;
}

.header-icon-link svg {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  color: var(--color-text-primary);
}
